<footer id="contact-footer" class="bg-slate-900 text-white py-6">
  <div class="container mx-auto flex justify-between items-center text-base">
    <!-- Derechos de autor -->
    <p>&copy; Creada en 2025 por Juan Schack</p>
    
    <!-- Enlaces de redes sociales -->
    <div class="flex space-x-6">
      <a href="https://www.instagram.com" class="text-white hover:text-gray-400" target="_blank">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
      <a href="https://www.twitter.com" class="text-white hover:text-gray-400" target="_blank">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
      <a href="https://www.facebook.com" class="text-white hover:text-gray-400" target="_blank">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="https://www.linkedin.com" class="text-white hover:text-gray-400" target="_blank">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
    </div>
  </div>
</footer>
