---
import Comprar from './Comprar.astro';

const { title, description, image, slug } = Astro.props;
---

<section id="ultimasPublicaciones" class="bg-slate-50 p-6 rounded-lg shadow-xl text-slate-800">
  <!-- Título de la publicación -->
  <h2 class="text-2xl text-center text-slate-800 font-Akira font-bold mb-4">{title}</h2>
  
  <!-- Imagen de la publicación con tamaño fijo -->
  <div class="relative w-full h-72 mb-6">
    <img 
      src={image} 
      alt={title} 
      class="object-cover w-full h-full rounded-md transition-transform duration-300 ease-in-out hover:scale-105"
    />
  </div>
  
  <!-- Descripción recortada -->
  <p class="text-slate-800">{description.substring(0, 150)}...</p>
  
  <!-- Enlace para leer más -->
  <a href={`/blog/${slug}`} class="text-cyan-500 hover:text-cyan-700 mt-6  block font-extrabold text-lg transition duration-200">
    DETALLES...
  </a>
