
<section class="mt-10 w-full h-40 flex items-center justify-center font-extrabold font-mono bg-slate-50">
  <h2 class="text-3xl font-Akira text-black animate__animated animate__fadeInDown animate__delay-1s" style="animation-duration: 2s;">
      Ultimas Publicaciones
  </h2>
</section>
