<div class="w-full h-1/2 mt-2">
    <video autoplay loop muted playsinline class=" w-full h-96 object-cover">
      <source src="/video1.mp4" type="video/mp4" />
      Tu navegador no soporta la reproducción de videos.
    </video>
  </div>
  