---
import Header from "../components/Header.astro";
import Video from "../components/Video.astro";
import Titulo from "../components/Titulo.astro";
import Slider from "../components/Slider.jsx";
import Footer from "../components/Footer.astro";
import Post from "../components/Post.astro";
import SearchBar from "../components/SearchBar.jsx"; 
import '../styles/global.css';
---

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Plataforma de Venta de Cursos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  </head>
  <body class="bg-white">
    <Header />
    <Video />
    <Titulo />
    <Slider client:load />
    
    <main class="container mx-auto px-4 flex-1">
      <slot />
      <Post />
    </main>

    <Footer />
  </body>
</html>
